@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .volume-slider-thumb {
    @apply appearance-none w-[25px] h-[55px] bg-slider-green rounded-lg cursor-pointer;
  }

  .pan-slider-thumb {
    @apply appearance-none w-[15px] h-[50px] bg-slider-green rounded-lg cursor-pointer;
  }

  .slider-track {
    @apply appearance-none w-full h-[5px] bg-gray-300 outline-none opacity-70 transition-opacity duration-200;
  }
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* overflow: hidden; */
}
